target
.classpath
.settings
.project
.idea
.gradle
gradlew
gradlew.bat
settings.gradle
*.iml
*.ipr
*.iws
work
/email-ext.sublime-workspace
/email-ext.sublime-project
*.bak
nbactions.xml
.directory
nb-configuration.xml
